## **Necessary imports**

In [1]:
import re
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline

## **Mounting Drive**

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## **Initializing parent folder**

In [3]:
%cd /content/drive/MyDrive/IPL_ChatBot

/content/drive/MyDrive/IPL_ChatBot

## **CSV file path**

In [4]:
df_path = "/content/drive/MyDrive/IPL_ChatBot/IPL_Matches_Gravitas_AI_Problem_Statement_Data.csv"

## **Reading & Viewing csv file**

In [5]:
df = pd.read_csv(df_path)
df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

## **Shape**

In [6]:
df.shape

(756, 18)

## **Columns**

In [7]:
df.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

## **Checking if NaN value exists**

In [8]:
df.isna().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

### **We can see that there are 637 None Values in 'umpire3' column. These values can't be filled with other values. So, deleting this column.**

In [9]:
del df['umpire3']

## **Still NaN value exists in other columns**

In [10]:
df.isna().sum()

id                 0
season             0
city               7
date               0
team1              0
team2              0
toss_winner        0
toss_decision      0
result             0
dl_applied         0
winner             4
win_by_runs        0
win_by_wickets     0
player_of_match    4
venue              0
umpire1            2
umpire2            2
dtype: int64

## **Dropping all the NaN values**

In [11]:
df = df.dropna()

## **Shape after deleting**

In [12]:
df.shape

(743, 17)

## **Season, team1, team2 unique value counts**

In [13]:
df['season'].value_counts(), df['team1'].value_counts(), df['team2'].value_counts()

(season
 2013    76
 2012    74
 2011    72
 2010    60
 2016    60
 2018    60
 2017    58
 2008    58
 2019    58
 2009    57
 2015    57
 2014    53
 Name: count, dtype: int64,
 team1
 Mumbai Indians                 99
 Kings XI Punjab                91
 Chennai Super Kings            88
 Kolkata Knight Riders          82
 Royal Challengers Bangalore    81
 Delhi Daredevils               70
 Rajasthan Royals               67
 Sunrisers Hyderabad            60
 Deccan Chargers                43
 Pune Warriors                  20
 Gujarat Lions                  14
 Rising Pune Supergiant          8
 Kochi Tuskers Kerala            7
 Rising Pune Supergiants         7
 Delhi Capitals                  6
 Name: count, dtype: int64,
 team2
 Kolkata Knight Riders          95
 Royal Challengers Bangalore    93
 Delhi Daredevils               86
 Mumbai Indians                 85
 Kings XI Punjab                84
 Rajasthan Royals               77
 Chennai Super Kings            74
 Sunrisers Hyderabad            45
 Deccan Chargers                32
 Pune Warriors                  25
 Gujarat Lions                  16
 Delhi Capitals                  9
 Rising Pune Supergiant          8
 Kochi Tuskers Kerala            7
 Rising Pune Supergiants         7
 Name: count, dtype: int64)

## **City value counts**

In [14]:
df['city'].value_counts()

city
Mumbai            101
Kolkata            77
Delhi              73
Hyderabad          64
Bangalore          63
Chennai            57
Jaipur             47
Chandigarh         46
Pune               38
Durban             15
Bengaluru          13
Centurion          12
Ahmedabad          12
Visakhapatnam      12
Rajkot             10
Mohali             10
Indore              9
Dharamsala          9
Johannesburg        8
Cuttack             7
Ranchi              7
Port Elizabeth      7
Cape Town           7
Abu Dhabi           7
Sharjah             6
Raipur              6
Kochi               5
Kanpur              4
Nagpur              3
Kimberley           3
East London         3
Bloemfontein        2
Name: count, dtype: int64

## **Venue Counts**

In [15]:
df['venue'].value_counts()

venue
Eden Gardens                                            77
Wankhede Stadium                                        73
M Chinnaswamy Stadium                                   70
Feroz Shah Kotla                                        66
Rajiv Gandhi International Stadium, Uppal               56
MA Chidambaram Stadium, Chepauk                         49
Sawai Mansingh Stadium                                  47
Punjab Cricket Association Stadium, Mohali              35
Maharashtra Cricket Association Stadium                 21
Subrata Roy Sahara Stadium                              17
Dr DY Patil Sports Academy                              17
Kingsmead                                               15
Punjab Cricket Association IS Bindra Stadium, Mohali    14
Sardar Patel Stadium, Motera                            12
SuperSport Park                                         12
Brabourne Stadium                                       11
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     11
Saurashtra Cricket Association Stadium                  10
Himachal Pradesh Cricket Association Stadium             9
Holkar Cricket Stadium                                   9
M. A. Chidambaram Stadium                                8
New Wanderers Stadium                                    8
Rajiv Gandhi Intl. Cricket Stadium                       8
Sheikh Zayed Stadium                                     7
JSCA International Stadium Complex                       7
St George's Park                                         7
Newlands                                                 7
Barabati Stadium                                         7
IS Bindra Stadium                                        7
Feroz Shah Kotla Ground                                  7
Shaheed Veer Narayan Singh International Stadium         6
Sharjah Cricket Stadium                                  6
M. Chinnaswamy Stadium                                   6
Nehru Stadium                                            5
Green Park                                               4
De Beers Diamond Oval                                    3
Vidarbha Cricket Association Stadium, Jamtha             3
Buffalo Park                                             3
OUTsurance Oval                                          2
ACA-VDCA Stadium                                         1
Name: count, dtype: int64

## **Toss decision, Result and DLS**

In [16]:
df['toss_decision'].value_counts(), df['result'].value_counts(), df['dl_applied'].value_counts()

(toss_decision
 field    455
 bat      288
 Name: count, dtype: int64,
 result
 normal    734
 tie         9
 Name: count, dtype: int64,
 dl_applied
 0    724
 1     19
 Name: count, dtype: int64)

## **date value counts**

In [17]:
df['date'].value_counts()

date
2013-04-06    2
2011-04-29    2
2011-05-01    2
2011-05-02    2
2011-05-04    2
             ..
2012-04-05    1
2012-04-04    1
2011-05-28    1
2011-05-27    1
12/05/19      1
Name: count, Length: 538, dtype: int64

## **There are some values in "day/month/year" format. But we want all the values in the same format "Year-Month-Day".**

In [18]:
date_pattern = re.compile(r"\b\d{2}/\d{2}/\d{2}\b")

for i in range(len(df)):
  date = df.iloc[i]['date']
  if date_pattern.match(date):
    date_obj = datetime.strptime(date, "%d/%m/%y")
    formatted_date = date_obj.strftime("%Y-%m-%d")
    df.iloc[i, df.columns.get_loc('date')] = formatted_date

## **Viewing the change**

In [19]:
df['date'].value_counts().to_dict()

{'2013-04-06': 2,
 '2011-04-29': 2,
 '2011-05-01': 2,
 '2011-05-02': 2,
 '2011-05-04': 2,
 '2011-05-05': 2,
 '2011-05-07': 2,
 '2011-05-08': 2,
 '2011-05-10': 2,
 '2016-05-08': 2,
 '2016-05-07': 2,
 '2011-05-14': 2,
 '2011-05-15': 2,
 '2016-05-01': 2,
 '2011-05-22': 2,
 '2016-04-30': 2,
 '2012-04-06': 2,
 '2012-04-07': 2,
 '2012-04-08': 2,
 '2016-04-24': 2,
 '2012-04-10': 2,
 '2016-04-23': 2,
 '2012-04-12': 2,
 '2012-04-19': 2,
 '2012-04-15': 2,
 '2012-04-17': 2,
 '2012-05-10': 2,
 '2012-04-21': 2,
 '2012-04-22': 2,
 '2016-04-17': 2,
 '2016-04-16': 2,
 '2011-04-30': 2,
 '2011-04-27': 2,
 '2012-04-29': 2,
 '2016-05-14': 2,
 '2018-04-22': 2,
 '2010-03-25': 2,
 '2018-04-21': 2,
 '2010-03-28': 2,
 '2010-03-31': 2,
 '2010-04-03': 2,
 '2010-04-04': 2,
 '2018-04-15': 2,
 '2018-04-14': 2,
 '2010-04-07': 2,
 '2010-04-10': 2,
 '2010-04-11': 2,
 '2010-04-13': 2,
 '2018-04-08': 2,
 '2010-04-17': 2,
 '2010-04-18': 2,
 '2016-05-22': 2,
 '2011-04-09': 2,
 '2011-04-10': 2,
 '2016-05-21': 2,
 '2011-04-12': 2,
 '2011-04-13': 2,
 '2011-04-15': 2,
 '2011-04-16': 2,
 '2011-04-17': 2,
 '2011-04-20': 2,
 '2011-04-22': 2,
 '2011-04-24': 2,
 '2016-05-15': 2,
 '2012-04-28': 2,
 '2012-05-01': 2,
 '2010-03-20': 2,
 '2013-05-02': 2,
 '2013-05-14': 2,
 '2013-05-05': 2,
 '2013-05-07': 2,
 '2013-05-09': 2,
 '2013-05-11': 2,
 '2013-05-12': 2,
 '2015-04-19': 2,
 '2013-05-15': 2,
 '2015-04-18': 2,
 '2013-05-18': 2,
 '2013-05-19': 2,
 '2015-04-12': 2,
 '2014-04-18': 2,
 '2015-04-11': 2,
 '2014-04-26': 2,
 '2014-04-27': 2,
 '2014-05-03': 2,
 '2014-05-05': 2,
 '2014-05-07': 2,
 '2014-05-25': 2,
 '2014-05-24': 2,
 '2014-05-10': 2,
 '2014-05-11': 2,
 '2014-05-23': 2,
 '2014-05-13': 2,
 '2014-05-14': 2,
 '2014-05-22': 2,
 '2014-05-18': 2,
 '2014-05-19': 2,
 '2015-04-22': 2,
 '2013-05-01': 2,
 '2012-05-05': 2,
 '2013-04-29': 2,
 '2012-05-06': 2,
 '2012-05-08': 2,
 '2012-05-12': 2,
 '2012-05-13': 2,
 '2012-05-14': 2,
 '2012-05-17': 2,
 '2015-05-16': 2,
 '2012-05-19': 2,
 '2012-05-20': 2,
 '2015-05-10': 2,
 '2015-05-09': 2,
 '2013-04-07': 2,
 '2013-04-09': 2,
 '2013-04-11': 2,
 '2015-05-04': 2,
 '2013-04-13': 2,
 '2013-04-14': 2,
 '2015-05-03': 2,
 '2013-04-16': 2,
 '2013-04-17': 2,
 '2015-05-02': 2,
 '2015-05-01': 2,
 '2013-04-20': 2,
 '2013-04-21': 2,
 '2013-04-23': 2,
 '2015-05-07': 2,
 '2015-04-25': 2,
 '2013-04-27': 2,
 '2013-04-28': 2,
 '2010-03-21': 2,
 '2014-05-20': 2,
 '2010-03-19': 2,
 '2008-05-01': 2,
 '2017-05-13': 2,
 '2017-05-07': 2,
 '2017-05-06': 2,
 '2019-04-20': 2,
 '2009-04-18': 2,
 '2009-04-19': 2,
 '2019-04-21': 2,
 '2018-05-13': 2,
 '2009-04-23': 2,
 '2017-05-01': 2,
 '2009-05-05': 2,
 '2009-04-26': 2,
 '2017-04-30': 2,
 '2009-04-27': 2,
 '2017-04-29': 2,
 '2009-04-29': 2,
 '2009-04-30': 2,
 '2017-04-28': 2,
 '2009-05-01': 2,
 '2009-05-02': 2,
 '2018-05-19': 2,
 '2018-05-20': 2,
 '2008-05-24': 2,
 '2017-05-14': 2,
 '2008-05-03': 2,
 '2008-05-04': 2,
 '2019-03-31': 2,
 '2019-03-30': 2,
 '2008-05-08': 2,
 '2008-04-27': 2,
 '2008-05-28': 2,
 '2008-04-26': 2,
 '2019-04-06': 2,
 '2008-05-11': 2,
 '2019-04-07': 2,
 '2019-03-24': 2,
 '2008-04-20': 2,
 '2008-04-19': 2,
 '2008-05-17': 2,
 '2008-05-18': 2,
 '2019-04-13': 2,
 '2019-04-14': 2,
 '2008-05-21': 2,
 '2009-05-03': 2,
 '2018-05-12': 2,
 '2008-05-25': 2,
 '2017-04-23': 2,
 '2018-04-29': 2,
 '2009-05-21': 2,
 '2009-05-20': 2,
 '2017-04-16': 2,
 '2010-03-13': 2,
 '2017-04-15': 2,
 '2019-04-28': 2,
 '2017-04-14': 2,
 '2010-03-14': 2,
 '2019-05-04': 2,
 '2009-05-17': 2,
 '2009-05-16': 2,
 '2019-05-05': 2,
 '2017-04-22': 2,
 '2017-04-17': 2,
 '2010-03-16': 2,
 '2009-05-09': 2,
 '2017-04-09': 2,
 '2009-05-07': 2,
 '2018-05-06': 2,
 '2009-05-12': 2,
 '2018-05-05': 2,
 '2009-05-14': 2,
 '2009-05-10': 2,
 '2019-05-10': 1,
 '2015-05-15': 1,
 '2019-04-02': 1,
 '2019-05-07': 1,
 '2019-04-09': 1,
 '2019-04-10': 1,
 '2019-04-08': 1,
 '2019-04-11': 1,
 '2019-04-05': 1,
 '2015-05-14': 1,
 '2015-05-12': 1,
 '2015-05-05': 1,
 '2019-05-02': 1,
 '2019-05-03': 1,
 '2015-05-06': 1,
 '2015-05-08': 1,
 '2019-04-12': 1,
 '2019-04-03': 1,
 '2015-05-11': 1,
 '2015-05-13': 1,
 '2019-04-04': 1,
 '2019-04-25': 1,
 '2014-05-27': 1,
 '2019-05-01': 1,
 '2019-04-24': 1,
 '2015-04-17': 1,
 '2015-04-15': 1,
 '2015-04-30': 1,
 '2015-04-14': 1,
 '2015-04-13': 1,
 '2019-04-23': 1,
 '2019-04-26': 1,
 '2015-04-20': 1,
 '2019-04-22': 1,
 '2015-04-21': 1,
 '2015-04-10': 1,
 '2015-04-09': 1,
 '2015-04-08': 1,
 '2019-04-27': 1,
 '2015-04-23': 1,
 '2019-04-19': 1,
 '2019-04-18': 1,
 '2015-04-24': 1,
 '2019-04-17': 1,
 '2019-04-16': 1,
 '2019-04-15': 1,
 '2015-04-26': 1,
 '2015-04-27': 1,
 '2014-06-01': 1,
 '2014-05-30': 1,
 '2015-04-16': 1,
 '2014-05-28': 1,
 '2015-04-28': 1,
 '2019-04-29': 1,
 '2016-04-14': 1,
 '2019-04-01': 1,
 '2018-05-08': 1,
 '2016-05-27': 1,
 '2016-05-25': 1,
 '2016-05-24': 1,
 '2018-05-04': 1,
 '2014-05-21': 1,
 '2018-05-07': 1,
 '2016-05-19': 1,
 '2016-05-18': 1,
 '2016-05-17': 1,
 '2015-05-17': 1,
 '2016-05-16': 1,
 '2018-05-09': 1,
 '2016-05-13': 1,
 '2018-05-10': 1,
 '2016-05-12': 1,
 '2018-05-11': 1,
 '2016-05-11': 1,
 '2016-05-10': 1,
 '2016-05-29': 1,
 '2018-04-07': 1,
 '2018-05-03': 1,
 '2018-04-09': 1,
 '2018-04-23': 1,
 '2018-04-25': 1,
 '2018-04-26': 1,
 '2018-04-20': 1,
 '2018-04-27': 1,
 '2018-04-19': 1,
 '2018-04-18': 1,
 '2018-04-17': 1,
 '2018-04-16': 1,
 '2018-04-28': 1,
 '2018-04-30': 1,
 '2018-05-01': 1,
 '2018-04-13': 1,
 '2018-04-12': 1,
 '2018-04-11': 1,
 '2018-05-02': 1,
 '2018-04-10': 1,
 '2016-05-09': 1,
 '2018-05-14': 1,
 '2018-05-15': 1,
 '2016-04-19': 1,
 '2016-04-18': 1,
 '2019-03-25': 1,
 '2019-03-26': 1,
 '2016-04-15': 1,
 '2018-04-24': 1,
 '2016-04-13': 1,
 '2019-03-27': 1,
 '2016-04-12': 1,
 '2019-03-28': 1,
 '2016-04-11': 1,
 '2016-04-10': 1,
 '2016-04-09': 1,
 '2019-03-29': 1,
 '2015-05-24': 1,
 '2015-05-22': 1,
 '2015-05-20': 1,
 '2015-05-19': 1,
 '2019-03-23': 1,
 '2018-05-27': 1,
 '2016-05-06': 1,
 '2016-04-20': 1,
 '2016-05-05': 1,
 '2016-05-04': 1,
 '2016-05-03': 1,
 '2016-05-02': 1,
 '2018-05-16': 1,
 '2018-05-17': 1,
 '2018-05-18': 1,
 '2016-04-29': 1,
 '2016-04-28': 1,
 '2016-04-27': 1,
 '2016-04-26': 1,
 '2016-04-25': 1,
 '2018-05-22': 1,
 '2018-05-23': 1,
 '2018-05-25': 1,
 '2016-04-22': 1,
 '2016-04-21': 1,
 '2016-05-20': 1,
 '2017-04-05': 1,
 '2014-05-15': 1,
 '2010-04-22': 1,
 '2009-05-22': 1,
 '2009-05-19': 1,
 '2009-05-18': 1,
 '2009-05-15': 1,
 '2009-05-13': 1,
 '2009-05-11': 1,
 '2009-05-08': 1,
 '2009-05-06': 1,
 '2009-05-04': 1,
 '2009-04-28': 1,
 '2009-04-25': 1,
 '2009-04-24': 1,
 '2009-04-22': 1,
 '2009-04-21': 1,
 '2009-04-20': 1,
 '2008-06-01': 1,
 '2008-05-31': 1,
 '2008-05-30': 1,
 '2008-05-27': 1,
 '2008-05-26': 1,
 '2008-05-23': 1,
 '2009-05-23': 1,
 '2009-05-24': 1,
 '2010-03-12': 1,
 '2010-04-02': 1,
 '2010-04-19': 1,
 '2010-04-16': 1,
 '2010-04-15': 1,
 '2010-04-14': 1,
 '2010-04-12': 1,
 '2010-04-09': 1,
 '2010-04-08': 1,
 '2010-04-06': 1,
 '2010-04-05': 1,
 '2010-04-01': 1,
 '2010-03-15': 1,
 '2010-03-30': 1,
 '2010-03-29': 1,
 '2010-03-27': 1,
 '2010-03-26': 1,
 '2010-03-24': 1,
 '2010-03-23': 1,
 '2010-03-22': 1,
 '2010-03-18': 1,
 '2010-03-17': 1,
 '2008-05-20': 1,
 '2008-05-19': 1,
 '2008-05-16': 1,
 '2017-04-24': 1,
 '2017-05-10': 1,
 '2017-05-09': 1,
 '2017-05-08': 1,
 '2017-05-05': 1,
 '2017-05-04': 1,
 '2017-05-03': 1,
 '2017-05-02': 1,
 '2017-04-27': 1,
 '2017-04-26': 1,
 '2017-04-21': 1,
 '2017-05-12': 1,
 '2017-04-20': 1,
 '2017-04-19': 1,
 '2017-04-18': 1,
 '2017-04-13': 1,
 '2017-04-12': 1,
 '2017-04-11': 1,
 '2017-04-10': 1,
 '2017-04-08': 1,
 '2017-04-07': 1,
 '2017-05-11': 1,
 '2017-05-16': 1,
 '2008-05-15': 1,
 '2008-04-30': 1,
 '2008-05-14': 1,
 '2008-05-13': 1,
 '2008-05-12': 1,
 '2008-05-10': 1,
 '2008-05-09': 1,
 '2008-05-07': 1,
 '2008-05-06': 1,
 '2008-05-05': 1,
 '2008-05-02': 1,
 '2008-04-29': 1,
 '2017-05-17': 1,
 '2008-04-28': 1,
 '2008-04-25': 1,
 '2008-04-24': 1,
 '2008-04-23': 1,
 '2008-04-22': 1,
 '2008-04-21': 1,
 '2008-04-18': 1,
 '2017-05-21': 1,
 '2017-05-19': 1,
 '2010-04-21': 1,
 '2010-04-24': 1,
 '2014-05-12': 1,
 '2010-04-25': 1,
 '2013-04-26': 1,
 '2013-04-25': 1,
 '2013-04-24': 1,
 '2013-05-16': 1,
 '2013-04-22': 1,
 '2013-04-19': 1,
 '2013-04-18': 1,
 '2013-04-15': 1,
 '2013-04-12': 1,
 '2013-04-10': 1,
 '2013-04-08': 1,
 '2017-04-06': 1,
 '2013-04-05': 1,
 '2013-04-04': 1,
 '2013-04-03': 1,
 '2012-05-27': 1,
 '2012-05-25': 1,
 '2012-05-23': 1,
 '2012-05-22': 1,
 '2012-05-18': 1,
 '2012-05-16': 1,
 '2013-04-30': 1,
 '2013-05-03': 1,
 '2013-05-04': 1,
 '2014-04-20': 1,
 '2014-05-09': 1,
 '2014-05-08': 1,
 '2014-05-06': 1,
 '2014-05-04': 1,
 '2014-05-02': 1,
 '2014-04-29': 1,
 '2014-04-24': 1,
 '2014-04-22': 1,
 '2014-04-21': 1,
 '2014-04-17': 1,
 '2013-05-08': 1,
 '2014-04-16': 1,
 '2013-05-26': 1,
 '2013-05-24': 1,
 '2013-05-22': 1,
 '2013-05-21': 1,
 '2013-05-17': 1,
 '2013-05-06': 1,
 '2013-05-13': 1,
 '2013-05-10': 1,
 '2012-05-15': 1,
 '2012-05-11': 1,
 '2012-05-09': 1,
 '2011-05-03': 1,
 '2011-05-19': 1,
 '2011-05-18': 1,
 '2011-05-17': 1,
 '2011-05-16': 1,
 '2011-05-13': 1,
 '2011-05-12': 1,
 '2011-05-11': 1,
 '2011-05-09': 1,
 '2011-05-06': 1,
 '2011-04-28': 1,
 '2011-05-21': 1,
 '2011-04-26': 1,
 '2011-04-25': 1,
 '2011-04-23': 1,
 '2011-04-21': 1,
 '2011-04-19': 1,
 '2011-04-18': 1,
 '2011-04-14': 1,
 '2011-04-11': 1,
 '2011-04-08': 1,
 '2011-05-20': 1,
 '2011-05-24': 1,
 '2012-05-07': 1,
 '2012-04-20': 1,
 '2012-05-04': 1,
 '2012-05-03': 1,
 '2012-05-02': 1,
 '2012-04-30': 1,
 '2012-04-27': 1,
 '2012-04-26': 1,
 '2012-04-25': 1,
 '2012-04-24': 1,
 '2012-04-23': 1,
 '2012-04-18': 1,
 '2011-05-25': 1,
 '2012-04-16': 1,
 '2012-04-14': 1,
 '2012-04-13': 1,
 '2012-04-11': 1,
 '2012-04-09': 1,
 '2012-04-05': 1,
 '2012-04-04': 1,
 '2011-05-28': 1,
 '2011-05-27': 1,
 '2019-05-12': 1}

In [20]:
df.to_csv("IPL_chatbot_data.csv", index=False)